/* =============
    section 3
============= */
#section-3 {
    #section-3-grid {
        aside {
            img {
                width: 100%;
            }
        }

        padding-bottom: 40px;

        @include lg {

            display: grid;
            grid-template-areas: ". c1 c2 c3 .";
            grid-template-columns: 15px auto auto auto 15px;
            column-gap: 20px;

        }


        #section-3-container1 {

            h2 {
                font-family: 'Merriweather', serif;
                font-size: 2em;
            }

            text-align: center;
            margin: 0px 0px 100px;
            padding-bottom: 20px;
            background-color: $gray;
            grid-area: c1;

        }


        #section-3-container2 {

            h2 {
                font-family: 'Merriweather', serif;
                font-size: 2em;
            }

            text-align: center;
            margin: 0px 0px 100px;
            padding-bottom: 20px;
            background-color: $gray;

            grid-area: c2;

        }


        #section-3-container3 {

            h2 {
                font-family: 'Merriweather', serif;
                font-size: 2em;
            }

            text-align: center;
            margin: 0px 0px 100px;
            padding-bottom: 20px;
            background-color: $gray;
            grid-area: c3;

        }

    }

}